<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'folder.title' | translate }}</ion-title>

    <ion-buttons slot="end">
      <!-- <ion-button *ngIf="question != '' && rateDone == false" (click)="rateQuestion(question)">
        Bewertung abgeben
      </ion-button> -->
     <ion-button *ngIf="language == 'en'">
      <img width="100%" height="100%" src="/assets/icon/ger.png" (click)="switchLanguage('de')">
     </ion-button>
     <ion-button *ngIf="language == 'de'">
      <img width="100%" height="100%" src="/assets/icon/uk.png" (click)="switchLanguage('en')">
     </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'folder.title' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header> 
  
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-item fill="outline">
          <ion-label position="floating">{{ 'folder.question' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="question" (ionChange)="userInput()"></ion-input>
        </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button align="center"  (click)="insertQuestion(question)">{{ 'folder.answer' | translate }}</ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row *ngIf="buttonClicked">
      <ion-col>
        <b>
          <ion-label>
            Ergebnis auf die Frage:
          </ion-label>
          <br>
          <ion-label>{{sendedQuestion}}</ion-label>
        </b>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col class="ion-text-center">
        <div *ngIf="input == false && this.question.length > 0">
          <ion-accordion-group *ngFor="let answer of result.answers">
            <ion-accordion *ngFor="let item of answer">
              <ion-item slot="header">
                <ion-label>{{item.label}}</ion-label>
              </ion-item>
          
              <ion-list slot="content">
                <!-- <ion-item>
                  <ion-label> {{item.score}}</ion-label>
                </ion-item> -->
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>
                      <ion-label>{{item.label}}</ion-label>
                    </ion-card-subtitle>
                    <ion-card-title>
                      <ion-label>{{item.label}}</ion-label>
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-label> {{item.score}}</ion-label>
                  </ion-card-content>
                </ion-card>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </div>

        <div *ngIf="input == true && this.question.length > 0">
          <ion-accordion-group *ngFor="let answer of [].constructor(12)">
            <ion-accordion >
              <ion-item slot="header">
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
              </ion-item>
          
              <ion-list slot="content">
                <!-- <ion-item>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-item> -->
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>
                      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </ion-card-subtitle>
                    <ion-card-title>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                  </ion-card-content>
                </ion-card>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  *ngIf="question != '' && rateDone == false" (click)="rateQuestion(question)" >
      <ion-fab-button><ion-icon name="star-half"></ion-icon></ion-fab-button>
    </ion-fab-button>
  </ion-fab>
</ion-content>
