<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title align="center">{{ 'rating.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="send()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h6 align="center">{{ 'rating.heading' | translate }}</h6>
  <div class="row">
    <div  align="center" class="col-sm-12">
        <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index" style="display: inline-block"> 
            <li (click)="countStar(star)" id="{{'starId'+i}}" [ngClass]="{'selected': (star <= selectedValue)}" 
             (mouseover)="addClass(star)" (mouseout)="removeClass(star)"> ★
            </li>
        </ul>
    </div>
  </div>
</ion-content>
