<ion-header translucent="true" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'folder.title' | translate }}</ion-title>

    <ion-buttons slot="end">
     <ion-button *ngIf="language == 'en'">
      <img width="100%" height="100%" src="/assets/icon/ger.png" (click)="switchLanguage('de')">
     </ion-button>
     <ion-button *ngIf="language == 'de'">
      <img width="100%" height="100%" src="/assets/icon/uk.png" (click)="switchLanguage('en')">
     </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'folder.title' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header> 
  
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-item fill="outline">
          <ion-label position="floating">{{ 'folder.question' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="question" (ionChange)="userInput()"  (keyup.enter)="insertQuestion(question)"></ion-input>
        </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button align="center" *ngIf="input === true" (click)="insertQuestion(question)">{{ 'folder.answer' | translate }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <div *ngIf="input == false && this.question.length > 0 && showResults == false" align="center" > 
          <ion-img src="/assets/svg/questions.svg" style="width: 400px; height: 400px;"></ion-img>
          <ion-label style="font-size:15px; color: gray;" position="floating">{{ 'folder.not_found' | translate }}</ion-label>
        </div>
        <div *ngIf="showResults">
          <div *ngIf="matchFound; else noMatch">
            <p>Übereinstimmung gefunden</p>
          </div>
          <ng-template #noMatch>
            <p>Keine Übereinstimmung gefunden</p>
          </ng-template>
        </div>
        <div *ngIf="input == false && this.question.length > 0 && showResults == true">
          <div >
            <div >
              <div >
                <ion-list slot="content">
                  <div *ngIf="language == 'de'" >
                    <div >
                      <ion-card >
                        <ion-card-header>
                          <ion-card-title>
                            <ion-label>{{adviceCentreElement.name}}</ion-label>
                          </ion-card-title>
                          <ion-card-subtitle>
                            <ion-label>{{ 'folder.contact' | translate }}</ion-label>
                          </ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content>
                          <ion-list>
                            <ion-item>
                              <ion-icon name="globe" slot="start"></ion-icon>
                              <ion-label position="stacked"> {{ 'folder.website' | translate }}</ion-label>
                              <ion-input ><a href="{{adviceCentreElement.website}}" target="_system">{{adviceCentreElement.website}}</a></ion-input> 
                            </ion-item>
                              
                            <ion-item>
                              <ion-icon name="map" slot="start"></ion-icon>
                              <ion-label position="stacked"> {{ 'folder.address' | translate }}</ion-label>
                              <ion-input disabled>{{adviceCentreElement.address}}</ion-input>
                            </ion-item>

                            <ion-item>
                              <ion-icon name="time" slot="start"></ion-icon>
                              <ion-label position="stacked"> {{ 'folder.opening_times' | translate }}</ion-label>
                              <ion-input disabled>{{adviceCentreElement.opening_times}}</ion-input>
                            </ion-item>
                                
                            <ion-item text-wrap>
                              <ion-icon name="call" slot="start"></ion-icon>
                              <ion-label position="stacked"> {{ 'folder.phone' | translate }}</ion-label>
                              <ion-input disabled>{{adviceCentreElement.phone}}</ion-input>
                            </ion-item>

                            <ion-item>
                              <ion-icon name="mail" slot="start"></ion-icon>
                              <ion-label position="stacked">  {{ 'folder.email' | translate }}</ion-label>
                              <ion-input><a href="mailto:'{{email}}">{{adviceCentreElement.email}}</a></ion-input>
                            </ion-item>

                            <ion-item>
                              <ion-icon name="information-circle" slot="start"></ion-icon>
                              <ion-label position="stacked"> {{ 'folder.score' | translate }}</ion-label>
                              <ion-input disabled>{{adviceCentreElement.score}}</ion-input>
                            </ion-item>
                          </ion-list>
                        </ion-card-content>
                      </ion-card>
                    </div>
                </div>
                  <div *ngIf="language == 'en'">
                    <div >
                      <ion-card >
                        <ion-card-header>
                          <ion-card-title >
                            <ion-label>{{adviceCentreElement.name}}</ion-label>
                          </ion-card-title>
                          <ion-card-subtitle>
                            <ion-label>{{ 'folder.contact' | translate }}</ion-label>
                          </ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content>
                          <ion-list>
                            <ion-item>
                              <ion-icon name="globe" slot="start"></ion-icon>
                              <ion-label position="stacked"> {{ 'folder.website' | translate }}</ion-label>
                              <ion-input ><a href="{{adviceCentreElement.website}}" target="_system">{{adviceCentreElement.website}}</a></ion-input> 
                            </ion-item>
                              
                            <ion-item>
                              <ion-icon name="map" slot="start"></ion-icon>
                              <ion-label position="stacked"> {{ 'folder.address' | translate }}</ion-label>
                              <ion-input disabled>{{adviceCentreElement.address}}</ion-input>
                            </ion-item>

                            <ion-item>
                              <ion-icon name="time" slot="start"></ion-icon>
                              <ion-label position="stacked"> {{ 'folder.opening_times' | translate }}</ion-label>
                              <ion-input disabled>{{adviceCentreElement.opening_times}}</ion-input>
                            </ion-item>
                                
                            <ion-item text-wrap>
                              <ion-icon name="call" slot="start"></ion-icon>
                              <ion-label position="stacked"> {{ 'folder.phone' | translate }}</ion-label>
                              <ion-input disabled >{{adviceCentreElement.phone}}</ion-input>
                            </ion-item>

                            <ion-item>
                              <ion-icon name="mail" slot="start"></ion-icon>
                              <ion-label position="stacked">  {{ 'folder.email' | translate }}</ion-label>
                              <ion-input><a href="mailto:'{{adviceCentreElement.email}}">{{adviceCentreElement.email}}</a></ion-input>
                            </ion-item>

                            <ion-item>
                              <ion-icon name="information-circle" slot="start"></ion-icon>
                              <ion-label position="stacked"> {{ 'folder.score' | translate }}</ion-label>
                              <ion-input disabled>{{iadviceCentreElementtem.score}}</ion-input>
                            </ion-item>
                          </ion-list>
                        </ion-card-content>
                      </ion-card>
                    </div>
                  </div>
                </ion-list>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="input == true && this.question.length > 0">
          <div *ngFor="let answer of [].constructor(1)">
          
              <ion-list slot="content">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-card-title>
                    <ion-card-subtitle>
                      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-list>
                      <ion-item>
                        <ion-icon slot="start">
                          <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-icon>
                        <ion-skeleton-text animated></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                      </ion-item>
                   
                      <ion-item>
                        <ion-icon slot="start">
                          <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-icon>
                        <ion-skeleton-text animated></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                      </ion-item>
                      <ion-item>
                        <ion-icon slot="start">
                          <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-icon>
                        <ion-skeleton-text animated></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                      </ion-item>
                    
                      <ion-item>
                        <ion-icon slot="start">
                          <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-icon>
                        <ion-skeleton-text animated></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                      </ion-item>
                      <ion-item>
                        <ion-icon slot="start">
                          <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-icon>
                        <ion-skeleton-text animated></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                      </ion-item>
                      <ion-item>
                        <ion-icon slot="start">
                          <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-icon>
                        <ion-skeleton-text animated></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                      </ion-item>
                   
              </ion-list>
                  </ion-card-content>
                </ion-card>
              </ion-list>
          </div> 
        </div>
            <!-- <ion-accordion-group  *ngFor="let item of answer">
              <ion-accordion *ngIf="item.score >= 0.5">
                <ion-item slot="header">
                  <ion-label>{{item.label}}</ion-label>
                </ion-item>
            
                <ion-list slot="content">
                  <div *ngFor="let info of infos">
                    <ion-card *ngIf="item.label == info.id">
                      <ion-card-header>
                        <ion-card-title *ngIf="item.label == info.id">
                          <ion-label>{{info.name}}</ion-label>
                        </ion-card-title>
                        <ion-card-subtitle>
                          <ion-label>{{ 'folder.contact' | translate }}</ion-label>
                        </ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                        <ion-grid>
                          <ion-row>
                            <ion-col size="3">
                              <ion-item>
                                <ion-icon name="globe" slot="start"></ion-icon>
                                <ion-label> {{ 'folder.website' | translate }}</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col >
                              <ion-item *ngIf="item.label == info.id">
                                <ion-label><a href="#" onclick="window.open('{{info.website}}', '_system', 'location=yes'); return false;">{{info.website}}</a></ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="3">
                              <ion-item>
                                <ion-icon name="map" slot="start"></ion-icon>
                                <ion-label> {{ 'folder.address' | translate }}</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item *ngIf="item.label == info.id">
                                <ion-label>{{info.address}}</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="3">
                              <ion-item>
                                <ion-icon name="time" slot="start"></ion-icon>
                                <ion-label> {{ 'folder.opening_times' | translate }}</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item *ngIf="item.label == info.id">
                                <ion-label>{{info.opening_times}}</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="3">
                              <ion-item>
                                <ion-icon name="call" slot="start"></ion-icon>
                                <ion-label> {{ 'folder.phone' | translate }}</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item *ngIf="item.label == info.id">
                                <ion-label>{{info.phone}}</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="3">
                              <ion-item>
                                <ion-icon name="mail" slot="start"></ion-icon>
                                <ion-label>  {{ 'folder.email' | translate }}</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item *ngIf="item.label == info.id">
                                <ion-label><a href="mailto:'{{info.email}}">{{info.email}}</a></ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="3">
                              <ion-item>
                                <ion-icon name="information-circle" slot="start"></ion-icon>
                                <ion-label> {{ 'folder.score' | translate }}</ion-label>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item>
                                <ion-label> {{item.score}}</ion-label>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-content>
                    </ion-card>
                  </div>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </div>
          
        </div>

        <div *ngIf="input == true && this.question.length > 0">
          <ion-accordion-group *ngFor="let answer of [].constructor(12)">
            <ion-accordion >
              <ion-item slot="header">
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
              </ion-item>
          
              <ion-list slot="content">
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>
                      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </ion-card-subtitle>
                    <ion-card-title>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                  </ion-card-content>
                </ion-card>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group> 
        </div>-->
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  *ngIf="question != '' && rateDone == false" (click)="rateQuestion(question)" >
      <ion-fab-button><ion-icon name="star-half"></ion-icon></ion-fab-button>
    </ion-fab-button>
  </ion-fab>
</ion-content>
